html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.header {
    background: #ccc;
}

.flexbox-row {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.flexbox-col {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.left {
    flex: 1;
    background: #fafafa;
}

.middle {
    flex: 1;
    background: #fafafa;
    
}

.right {
    flex: 1;
    background: #f0f0f0;
}

.noresize {
    resize: none;
}

.textarea {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    outline-color: transparent;
    outline-style: none;
    font-size: 11px;
}

#tasource {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    outline-color: transparent;
    outline-style: none;
    font-size: 11px;
}


.source {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    outline-color: transparent;
    outline-style: none;
    font-size: 11px;
}

/* Stacked DIV */

#text_container {
  width: 100%;
  height: 100%;
  position: relative;
}

#text_back, #text_front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#text_back {
    z-index: 10;
    /*color: white;*/
    color:black;
    caret-color: black;
    background-color: white;
}

#text_front {
  z-index: 10;
}

.u2 {
  pointer-events:none;
}











