html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.header {
    background: #ccc;
}

.flexbox-row {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.left {
    flex: 1;
    background: #fafafa;
}

.middle {
    flex: 1;
    background: #fafafa;
    
}

.right {
    flex: 1;
    background: #f0f0f0;
}

.noresize {
    resize: none;
}

.textarea {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    outline-color: transparent;
    outline-style: none;
}